<h1>ember-blockly</h1>

<h2>Simple usage</h2>

<pre>\{{<b>ember-blockly</b> <b>blocks</b>=blocks_array_or_xml_string <b>withZoom</b>=true <b>withTrash</b>=true}}</pre>

{{ember-blockly
      blocks=blocks
      withZoom=true
      withTrash=true}}

<h2>Changing context and reload</h2>

<p>You can reset the workspace or the toolbox too:</p>

<pre>\{{ember-blockly blocks=blocks_array workspace=workspace withZoom=true withTrash=true}}</pre>

<pre>// in a controller or router:

  actions: {
    setSimpleToolbar() {
      this.set('blocksDemo2', ['controls_if']);
    },
    setOtherToolbar() {
      this.set('blocksDemo2', [
           'section_control',
           'controls_if', 'controls_if_else', 'controls_whileUntil',
      ]);
    },
    clearWorkspace() {
      this.set('workspaceDemo2', "");
    },
    setASimpleWorkspace() {
      this.set('workspaceDemo2', '<xml xmlns="http://www.w3.org/1999/xhtml"><block type="controls_if" id="f`z3uw:anQ0tZL@R9Im(" x="80" y="27"></block></xml>');
    },
    onChangeWorkspace(workspace) {
      this.set('workspaceDemoReturned', workspace);
    },
  }
</pre>

<div>
  <button {{action "setSimpleToolbar"}}>Set simple toobox</button>
  <button {{action "setOtherToolbar"}}>Set other toobox</button>
  <button {{action "setToolboxFromXMLString"}}>Set toobox from xml string</button>
</div>

<div>
  <button {{action "clearWorkspace"}}>Clear workspace</button>
  <button {{action "setASimpleWorkspace"}}>Set a simple workspace</button>
  <button {{action "setAnotherWorkspace"}}>Set another workspace</button>
</div>

<p>Initial Workspace send by parameter: {{workspaceDemo2}}</p>
<p>New workspace returned by action: {{workspaceDemoReturned}}</p>

<p>Blocks: {{blocksDemo2}}</p>

{{ember-blockly
      blocks=blocksDemo2
      workspace=workspaceDemo2
      onChangeWorkspace="onChangeWorkspace"
      withZoom=true
      withTrash=true}}


<h2>Use inside flexbox</h2>

<p>ember-blockly can be inyected into a flexbox layout easily, you
  only need to define a flexbox and include the ember-blockly component
  inside it.</p>

<p>But remember, if you change some attribute or classs related
  to blockly layout you also need to trigger the resize event:</p>

<pre>setTimeout(() => {
  $(window).trigger('resize');
}, 1);
</pre>

<p><button {{action "flipFlexboxDirection"}}>flip flexbox direction</button></p>


<div class="flexbox-container {{if flexboxColumn 'flexbox-direction-column' 'flexbox-direction-row'}}">
  <div class="column yellow">A</div>
  <div class="column red">
    {{ember-blockly
      withZoom=true
      withTrash=true
    }}
  </div>
  <div class="column blue">C</div>
</div>


<h2>Toolbox with categories</h2>

<pre>blocksWithCategories: [
    {
      category: 'Logic',
      blocks: ['controls_if', 'controls_if_else']
    },
    {
      category: 'Bloques adicionales',
      blocks: ['controls_repeat']
    }
],</pre>


<pre>\{{ember-blockly blocks=blocksWithCategories}}</pre>

{{ember-blockly blocks=blocksWithCategories}}
