<h2>Block preview</h2>

<pre>\{{<b>ember-blockly-preview</b> block="controls_if" readOnly=true}}</pre>

{{ember-blockly-preview block="controls_if" readOnly=true}}


<p>Also you can change the block in runtime</p>

<pre>\{{<b>ember-blockly-preview</b> block=current_block showCode=true readOnly=false}}</pre>

<ul class="list">
  {{#each blocks as |block|}}
    <li {{action "selectBlock" block}}>{{block}}</li>
  {{/each}}
</ul>

<p>current_block: {{current_block}}</p>

{{ember-blockly-preview block=current_block showCode=true readOnly=false}}


<p>Note: if you need the full block list use the code:</p>

<pre>Object.keys(Blockly.Blocks)</pre>
